<!DOCTYPE html>
<html ng-app="AngularJsSample">
	<head>
		<meta charset="UTF-8">
		<title>Use $http | AngularJsSample | masa69.net</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	<body>
		<h1>Use $http</h1>
		<ul>
			<li><a href="https://docs.angularjs.org/api/ng/service/$http" target="_blank">$http</a></li>
		</ul>

		<div ng-controller="HttpControllers as http">

			param_a : <input ng-model="http.sendParams.param_a" type="text"><br>
			param_b : <input ng-model="http.sendParams.param_b" type="text"><br>
			param_c : <input ng-model="http.sendParams.param_c" type="text"><br>
			file    : <input type="file" onchange="angular.element(this).scope().fileUploader(this.files)"><br>
			<button type="button" ng-click="http.get();">GET</button>
			<button type="button" ng-click="http.post();">POST</button>
			<button type="button" ng-click="http.postJson();">POST - json</button>
			<button type="button" ng-click="http.postJquery();">POST - jQuery</button>
			<button type="button" ng-click="http.upload();">UPLOAD (only image)</button>

			<h2>{{http.mes}}</h2>
			<canvas id="canvas"></canvas>

		</div>

		<script type="text/javascript" src="../js/bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="../js/bower_components/angular-route/angular-route.min.js"></script>
		<script type="text/javascript" src="../js/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="../js/bower_components/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="../js/bower_components/jquery/dist/jquery.min.js"></script>
		<script type='text/javascript' src="../js/module/ngApp.js"></script>
		<script type='text/javascript' src="controllers/HttpControllers.js"></script>
		<script type='text/javascript' src="models/Api.js"></script>
		<script type='text/javascript' src="models/Http.js"></script>
	</body>
</html>